h1 {font-size: 65px; color: orange; font-family: sans-serif; line-height: 30px;}
ul{background-color: rebeccapurple; font-style: oblique;}
p{ font-weight: 600; font-size: 3em;}
.color-background {background-color: black;}
body{font-size: 16px;}
li{text-decoration:underline; text-align: center;}
#item1{background-color: yellow;}
#item2{background-color: red;}
#item3{background-color: brown;}
