div{
    background-color:blue;
    color: white;
}

div:nth-of-type(2){
    background-color: black;
}
div:nth-of-type(3){
    background-color: purple;
    height: 100px;
}
div:nth-of-type(4){
    background-color:darkblue;
}
div:nth-of-type(5){
    background-color: pink;
}
div:hover{
    border: 5px solid yellow;
}
div:nth-of-type(1) > h3{
    color: pink;
}
div:nth-of-type(2) > h3{
    color: blue;
}
div:nth-of-type(3) > h3{
    color: black;
}
div:nth-of-type(4) > h3{
    color: red;
}

div:nth-child(odd) h3{
    font-style: italic;
}